/*
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
}

main.left,
main.right {
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
}

main.left {
  background-color: black;
}

.left .code,
.code pre,
.code pre code {
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0.7rem;
  background-color: rgb(58, 55, 55);
}

main.left.review {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(84, 143, 84);
  color: black;
  padding: 0.5rem, 2rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 0.7rem;
}

main.right {
  background-color: #343434;
}
  */

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

main {
  height: 100vh; /* height 100%*/
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
}

.left,
.right {
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
}

.left {
  background-color: #000;
  position: relative;
  padding: 1rem;
  width: 50%; /* */
  padding: 20px; /* */
}

.left .code,
.code pre,
.code pre code {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #000;
  border-radius: 0.7rem;
}

.code {
  /* */
  width: 100%;
  min-height: 300px;
}

.review {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(84, 143, 84);
  color: rgb(24, 22, 22);
  padding: 0.5rem 2rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 0.7rem;
}

.right {
  background-color: #343434;
  width: 50%; /* */
}
